[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "==21.7.0"
requests = "==2.27.1"
types-requests = "==2.27.1"

[dev-packages]
prospector = {version = "==1.5.3.1", extras = ["with_bandit", "with_mypy"]}
flake8 = "==3.9.2"
types-pyyaml = "==6.0.2"

[requires]
python_version = "3.8"
