[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "==20.13.0"
requests = "==2.26.0"
types-requests = "==2.26.1"

[dev-packages]
prospector = {version = "==1.5.3", extras = ["with_bandit", "with_mypy"]}
flake8 = "==3.9.2"
types-pyyaml = "==6.0.1"

[requires]
python_version = "3.8"
